version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: YourPassword123!
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - fiap-network

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - fiap-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - fiap-network

  users-api:
    build:
      context: .
      dockerfile: FiapCloudGames.Users.Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=FiapGameUsers;User Id=sa;Password=YourPassword123!;Encrypt=false;
      - Jwt__Key=6dd9cd55-a2d0-4ba1-b197-0c97e569d674
      - Jwt__Issuer=fiap-cloud-games
      - Jwt__Audience=fiap-cloud-games-users
      - RunMigrations=false
    ports:
      - "5001:8080"
    depends_on:
      - sqlserver
    networks:
      - fiap-network

  games-api:
    build:
      context: .
      dockerfile: FiapCloudGames.Games.Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=FiapGameGames;User Id=sa;Password=YourPassword123!;Encrypt=false;
      - Elasticsearch__Url=http://elasticsearch:9200
      - RabbitMq__Host=rabbitmq
      - RabbitMq__Username=guest
      - RabbitMq__Password=guest
      - Jwt__Key=544059a3-3b23-4298-b959-f428014eb13a
      - Jwt__Issuer=fiap-cloud-games
      - Jwt__Audience=fiap-cloud-games-games
      - RunMigrations=false
    ports:
      - "5002:8080"
    depends_on:
      - sqlserver
      - elasticsearch
      - rabbitmq
    networks:
      - fiap-network

  payments-api:
    build:
      context: .
      dockerfile: FiapCloudGames.Payments.Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=FiapGamePayments;User Id=sa;Password=YourPassword123!;Encrypt=false;
      - RabbitMq__Host=rabbitmq
      - RabbitMq__Username=guest
      - RabbitMq__Password=guest
      - Jwt__Key=aaf132d4-ef73-4cd1-8dd3-d2560d65526e
      - Jwt__Issuer=fiap-cloud-games
      - Jwt__Audience=fiap-cloud-games-payments
      - RunMigrations=false
    ports:
      - "5003:8080"
    depends_on:
      - sqlserver
      - rabbitmq
    networks:
      - fiap-network

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./monitoring/alert_rules.yml:/etc/prometheus/alert_rules.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - fiap-network

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - fiap-network

  alertmanager:
    image: prom/alertmanager:latest
    volumes:
      - ./monitoring/alertmanager.yml:/etc/alertmanager/alertmanager.yml
      - alertmanager_data:/alertmanager
    ports:
      - "9093:9093"
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--storage.path=/alertmanager'
    networks:
      - fiap-network

volumes:
  sqlserver_data:
  elasticsearch_data:
  rabbitmq_data:
  prometheus_data:
  grafana_data:
  alertmanager_data:

networks:
  fiap-network:
    driver: bridge
